/* Add this CSS to ensure equal width for input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
}

body{
    background-color: #ff9bd2;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center; /* Align h1 text to center */
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: none; /* Hide submit button by default */
}

.profile-pic-container {
    text-align: center;
    margin-top: 30px;
}

.profile-pic {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

input[type="file"] {
    display: none;
}

/* CSS for message overlay */
.message-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.message-text {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 2px solid #d63484;
    border-radius: 5px;
    background-color: #d63484;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
.button:hover {
    background-color: #ffffff;
    color: #d63484;
}
